api_version: 1
feature_registry:
  api_endpoint: https://Nonewebapp.azurewebsites.net/api/v1
offline_store:
  adls:
    adls_enabled: 'true'
  wasb:
    wasb_enabled: 'true'
online_store:
  redis:
    host: 127.0.0.1
    port: 6379
    ssl_enabled: 'False'
project_config:
  project_name: feathr_getting_started
spark_config:
  spark_cluster: local
  spark_result_output_parts: '1'